{% extends "index.html" %} {% load static %} {% block title %}
<title>Tech-Shop|Home</title>
{% endblock %} {% block body %} {% include "navbar.html" %}

</br></br>
<div class="container">
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    {% for product in products %}
    <div class="card">
      <img src="{{product.image.url}}" width="30" height="130" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{product.name}}</h5>
        <p class="card-text">
        {{product.description}}
        </p>
        <a href="#" class="btn btn-dark">View</a>
      </div>
      <div class="card-footer">
        <small class="text-muted">{{product.date}}</small>
      </div>
    </div>
  </div>
        {% endfor%}

  </div>

  </div>
  {% endblock %}




